.bloco {
  background-color: #fff;
  font-family: 'Cera Pro';
  color: #000000;
  height: 100%;
  width: 100vw;

  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%;
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 8px;

    &.bot {
      padding-top: 0;
    }

    .title-container {
      display: flex;
      width: 100%;
      text-align: left;
      margin-bottom: -8px;
      align-items: center;

      span {
        margin-left: 10.8%;
        text-align: right;
        font-weight: 400;
        font-size: 28px;
        line-height: 42px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: -8px;
        white-space: nowrap;
      }

      p {
        margin-left: 51.1%;
        width: 60%;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        line-height: 38px;
        letter-spacing: 0.02em;
        margin-bottom: 0;
        color: #525252;
      }
  
      &.border-orange {
        border-bottom: 1px solid #EE7500;
      }
  
      &.border-green {
        border-bottom: 1px solid #00963E;
      }
  
      &.border-blue {
        border-bottom: 1px solid #006CB7;
      }
  
      &.border-gray {
        border-bottom: 1px solid #E0E0E0;
      }
  
      &.border-black {
        border-bottom: 1px solid #000000;
      }
      &.border-pink {
        border-bottom: 1px solid #FC36A5;
      }
  
      &.border-yellow {
        border-bottom: 1px solid #FFD500;
      }
  
      &.border-red {
        border-bottom: 1px solid #E3000B;
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    grid-row-gap: 70px;
    margin: 0 0;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      background-color: #fff;

      h3 {
        margin-left: 20.6%;
        font-weight: 400;
        font-size: 2.375rem;
        line-height: 50px;
        margin-bottom: 16px;
        letter-spacing: 0.02em;
        height: 55px;
        width: 580px;
        text-align: left;

        &.last {
          text-align: right;
          margin-left: 18%;
        }
      }

      .second-p {
        font-weight: 300;
        font-size: 1.25rem;
        color: #000000;
        margin-bottom: 35px;
        margin-left: 20.6%;
        text-align: left;
        line-height: 38px;
        letter-spacing: 0.02em;
        width: 66%;
        margin-top: 11%;

        &.last {
          text-align: right;
          margin-left: 17%;
        }
      }

      button {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 18px 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        width: 221px;
        height: 64px;
        border: 1px solid #000000;
        border-radius: 37px;
        background-color: #fff;
        margin-bottom: 60px;
        margin-left: 20.6%;
        &:hover {
          color: #006CB7;
          border-color: #006CB7;
          .arrow {
            color: #006CB7;
          }
        }

        &.second {
          margin-left: 56.5%;
        }
      }
    }

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .inner-container {
      span {
        margin-top:40vw;
        margin-left: 3.9vw;
        font-size: 1.125rem;
        line-height: 28px;
        letter-spacing: 0.06em;
        margin-bottom: 13px;
        white-space: nowrap;
      }

      p:nth-child(2) {
        margin-left: 5.1% !important;
        width: 100%;
        white-space: nowrap;
        margin-top: 65vw;
      }
    }

    .grid-container {
      grid-template-columns: 1fr;
      gap: 20px;

      .image-container:nth-child(1) {
        order: 1;
      }

      .image-container:nth-child(3) {
        order: 3;
      }

      .card:nth-child(1) {
        order: 1;
      }
  
      &.border-gray {
        height: 58vh;
        border-bottom: none;
      }

      .card:nth-child(4) {
        order: 4;
      }

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        background-color: #fff;
  
        h3 {
          margin-left: 3.9vw;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 40px;
          margin-bottom: 3.9vw;
          letter-spacing: 0.02em;
          height: 12vh;
          width: 80%;
  
          &.last {
            text-align: left;
            margin-left: 3.9vw;
          }
        }
  
        .second-p {
          font-size: 1.125rem;
          margin-left: 3.9vw;
          width: 92%;
          margin-top: 0;
          height: 100%;
  
          &.last {
            text-align: left;
            margin-left: 3.9vw;
          }
        }
  
        button {
          margin-left: 4vw;

          &.second {
            margin-left: 4vw;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
