.footer {
  padding: 0.5rem;
  background: #FFFFFF;
  color: #808080;
  text-align: center;

  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  height: 80px;
  letter-spacing: 0.05em;
  text-align: center;

  position: relative;
  display: flex;
  bottom: 0;
  width: 100%;
  margin-top: 0;
}
