.footer {
  padding: 0.5rem;
  background: #FFFFFF;
  font-family: Cera Pro;
  height: 8.8vh;
  position: relative;
  bottom: 0;

  p {
    position: relative;
    width: 60%;
    text-align: center;
    color: #808080;
    font-size: 0.935rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 20px;
    left: 20%;
  }
}
